body {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    /* grid-template-columns: 25% 200px 25%;
    grid-template-rows: 200px 300px; */

    /* grid-template: filas / columnas; */
    /*grid-template: 200px 100px 100px/ auto 1fr 1fr; /* usando fr (fracciones) nos sirve para decirle cuantas partes queremos del total, en este caso serian 3 columnas de 3.333% cada una*/
    
    /* haciendo uso de repeat(<veces>,<valor a repetir>) podemos hacer uso de funciones dentro de css para quizá hacer la lectura de código un poco mas sencilla*/
    /* grid-template: 200px 100px 100px/ repeat(3, 1fr);*/

    /* También podemos meter una función dentro de repeat para hacerlo un poco mas responsive friendly, usaremos minmax() para decirle el minimo y maximo valor*/
    grid-template: 200px 100px 100px/ repeat(3, minmax(200px, 1fr));

    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    /* grid-gap: 10px 30px; */
    gap: 10px;
}

.item {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid red;
    /* margin-right: 10px;
    margin-bottom: 10px; */
}

.item:nth-of-type(4){
    background-color: blue;
    overflow: auto;
    /* display: subgrid; */
    display: grid;
    grid-template: 100px 100px 100px/ 200px 200px 200px;
}

.item .item {
    background-color: yellow;
}